body{
	background: #A1CDF4;
}
.THP{
	text-align: center;
	color: white;
	font-size: 50px;
	margin: 0 auto;
	background: #2D3142;
}
h2{
	color: white;
	text-align: center;
}
img{
	width: 24%;
	margin: 0 auto;
	height: 35%;
}
.Destinations{
	color: white;
	display: block;
	text-align: center;
}
